<nav class="navbar navbar-expand-lg pb-5">
    <div class="container">
      <a class="navbar-brand py-2" href="#">
        <img src="assets/image/logo-regular-free-img.png" width="120px" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLinkActive="active"  routerLink="./home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="./about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="./services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="./gallary">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="./testimonial">Testimonials</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLinkActive="active" routerLink="./contact">Contact</a>
          </li>
        </ul>
        <ul class="social-icons d-flex list-unstyled pt-3">
            <li><i class="fa-brands fa-facebook"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
      </div>
    </div>
  </nav>