<footer >
    <div class="footer-info ">
        <div class="footer_img text-center pb-4">
            <img src="assets/image/footer/logo-light-free-img.png" width="120px" alt="">
        </div>
        <div class="social-links ">
            <ul class="d-flex pb-4">
                <li>
                    <i class="fa-brands fa-instagram"></i>
                </li>
                <li>
                    <i class="fa-brands fa-twitter"></i>
                </li>
                <li>
                    <i class="fa-brands fa-facebook"></i>
                </li>
                <li>
                    <i class="fa-brands fa-google"></i>
                </li>
                <li>
                    <i class="fa-brands fa-linkedin"></i>
                </li>
            </ul>
        </div>  
        <p class="text-center">Copyright © 2023 Sayara Pathan</p>   
    </div>
    
    
</footer>