<main>
  <div class="bannerspace"></div>
  <div class="banner">
    <div class="banner-text">
      <h1>
        Olivia <br />
        Dunham
      </h1>
      <p>_____ &nbsp;Wedding Planner</p>
    </div>
    <a href="" type="submit" class="consultation_btn py-3"
      >Book Your Free Consultation &nbsp;<i class="fa-solid fa-arrow-right"></i
    ></a>
  </div>
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-md-6 about-details">
          <h2 class="pb-5">About</h2>
          <h6>Dreaming of the perfect wedding?</h6>
          <p class="text-justify pb-3">
            Welcome, my name is proin gravida nibh vel velit auctor aliquet.
            Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat
            ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh
            vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam
            nec tellus a odio tincidunt auctor a ornare odio.lorem quis bibendum
            auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.
            Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.
            Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a
            ornare odio.
          </p>
          <button>Read More</button>
        </div>
        <div class="col-md-6">
          <img
            src="assets/image/gallry_home/about-01-free-img.jpg"
            class="img-fluid"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="services">
        <h2 class="text-center">Services</h2>
    </div>
  </div>
  <!-- services -->
  <div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/image/gallry_home/services-01-free-img.jpg" class="img-fluid" alt="">
            <h5 class="text-center py-2">Full Planning</h5>
            <p class="text-center">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
        </div>
        <div class="col-md-4">
            <img src="assets/image/gallry_home/services-02-free-img.jpg" class="img-fluid" alt="">
            <h5 class="text-center py-2">Destination Wedding</h5>
            <p class="text-center">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
        </div>
        <div class="col-md-4">
            <img src="assets/image/gallry_home/services-03-free-img.jpg" class="img-fluid" alt="">
            <h5 class="text-center py-2">Express Wedding</h5>
            <p class="text-center">Click edit button to change this text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
        </div>
    </div>
  </div>
  <div class="container-fluid py-5">
    <div class="row gy-2">
        <div class="col-md-4">
            <img src="assets/image/gallry_home/gallery-02-free-img.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/image/gallry_home/gallery-03-free-img.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/image/gallry_home/pic-01.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/image/gallry_home/pic-03.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/image/gallry_home/pic-02.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-md-4">
            <img src="assets/image/gallry_home/gallery-02-free-img.jpg" class="img-fluid" alt="">
        </div>
    </div>
  </div>
  <div class="testimonial">
    <div class="container ">
        <h4 class="text-justify">Testimonial</h4>
        <h1 class="text-justify">Dear Olivia, we thank you from the bottom of <br> our hearts nec sagittis sem nibhbrbr <br> id elit. Duis sed odio sit…</h1>
        <button>Read More</button>
      </div>
  </div>
</main>
